<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <h2>Edit Your Listings</h2>
    <form method="POST" action="/listing/<%= listing._id %>?_method-PUT" >
        <input name="listing[title]" value="<%= listing.title %>" type="text">
        <br> <br>
        <!-- <textarea  name="listing[description]  value"<%= listing.description %>" > </textarea> -->
        <textarea name="listing[description]"><%= listing.description %></textarea>

        <br> <br>
        <input type="text" name="listing[image]" value="<%= listing.image %>">
        <br> <br>
        <input name="price" value="<%= listing.price %>" type="listing[number]">
        <br> <br>
        <input name="location" value="<%= listing.location %>" type="listing[text]">
        <br> <br>
        <input type="text" name="listing[country]" value="<%= listing.country %>">
        <br> <br>
        <button>Edit</button>
    </form>
</body>
</html>